@tailwind base;
@tailwind components;
@tailwind utilities;

.css-view,
.css-text {
  all: unset;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #281f36;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #281f36;
}
